html{
    height: 100%;
}

body{
    /* background-color: #73c543; */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#a8eb81,#73c543);
    padding-top: 50px;
    overflow-wrap: break-word;
}

.card{
    box-shadow: 0 8px 8px 0 #00000040;
    background-color: #d6eeab;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.asteriskField{
    display: none;
}
.con{
    display: flex;
    justify-content: space-evenly;
}
form > .alert > ul > li{
    list-style: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #395caa;
    background-color: #e0e0e0;
    border-color: #395caa;
}

.btn-primary{
    background-color: #395caa;
    border-color: #e0e0e0;
} 
tr {
    border-bottom: 2px solid #73c543;
}
.del_btn{
    color: #e0e0e0;
    background-color: #f44336;
    border-color: #e0e0e0;
}
