body{
    background-color: #73c543;
    padding-top: 50px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #c8df9c;
}

.asteriskField{
    display: none;
}
.con{
    display: flex;
    justify-content: space-evenly;
}
form > .alert > ul > li{
    list-style: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #395caa;
    background-color: #e0e0e0;
    border-color: #395caa; /*set the color you want here*/
}

.btn-primary{
    background-color: #395caa;
    border-color: #e0e0e0;
} 
tr {
    border-bottom: 2px solid #73c543
}
.del_btn{
    background-color: #f44336;
}