body{
    background-color: #8a1f1f;
    padding-top: 50px;
}

.card{
    background-color: #d9b992;
}
.asteriskField{
    display: none;
}

form > .alert > ul > li{
    list-style: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: palegoldenrod;
    border-color: #285e8e; /*set the color you want here*/
}

.credits p {
    text-align: center;
    font-style: italic;
    font-size: 125%;
}

.credits h4 {
    text-align: center;
}

.jumbotron{
    background-color: mintcream;
}

.btn-primary{
    background-color: orangered;
    border-color: blanchedalmond;
}