{% extends 'tutor/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
Edit Profile
{% endblock %}
{% block body %}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Edit Your Profile</h1>
            <div class="row justify-content-left">
                <div class="col-10">               
                    <a href="{% url 'personal' %}" class="btn btn-light">Edit Personal Info</a>
                    <a href="{% url 'edu' %}" class="btn btn-light">Edit Education</a>
                    <a href="{% url 'work' %}" class="btn btn-light">Edit Work Experience</a>
                    <a href="{% url 'qa' %}" class="btn btn-light">Edit QA Section</a>
                    <a href="{% url 'delete' %}" class="btn btn-outline-primary del_btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}