{% extends 'tutor/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Upload Images
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" action="{% url 'imgUpload' %}" method="post" novalidate>
                    {% csrf_token %}
                    <h4>Choose an Image of your Teaching Certificate</h4>
                    {{ form.image }}
                    <h4>Choose your resume file</h4>
                    {{ form.resume }}
                    <input style="background-color: green;" type="submit" value="Upload" />
                </form>

            </div>
        </div>

    </div>
</div>


{% endblock %}