{% extends 'tutor/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
Edit Profile
{% endblock %}
{% block body %}

<div class="row justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-body">

                <h1>Enter Your Information</h1>
                
                <form method="post">
                    {% csrf_token %}

                    {{ form.employment|as_crispy_field }}
                    {{ form.curremployment|as_crispy_field }}
                    {{ form.employer|as_crispy_field }}
                    {{ form.employeraddress|as_crispy_field }}
                    <div class="row">
                        <div class="col-5">
                          {{ form.employercity|as_crispy_field }}
                        </div>
                        <div class="col-3">
                          {{ form.employerstate|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ form.employerzip|as_crispy_field }}
                        </div>
                    </div>
                    {{ form.currreference|as_crispy_field }}
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}