{% extends 'owner/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
Edit Profile
{% endblock %}
{% block body %}

    <style>
        #customers{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f0ffe7;}
        #customers tr:nth-child(odd){background-color: #d4ffbb;}

        #customers tr:hover {background-color: #b0ee8d;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #64ad3a;
            color: white;
        }
        .checkboxs1{
            float: left;
            width: 50%;
        }
        .checkboxs2{
            float: left;
            width: 50%;
        }
    </style>

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <a href="{% url 'logout' %}" class="btn btn-light">Logout</a> -->
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <input type="search" placeholder="Search" name="searched">
                    <label>Search By</label>
                    <select name="by" placeholder="Email" aria-label="Search By">
                        <option value="email">Email</option>
                        <option value="tutor__lastname">Last Name</option>
                    </select>
                    <label>Order By</label>
                    <select name="order" placeholder="Email" aria-label="Order By">
                        <option value="email">Email</option>
                        <option value="tutor__lastname">Last Name</option>
                    </select>
                    <label>Must Have:</label><br>
            <div class= checkboxs>
                    <fieldset class="checkboxs1">
                        
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Fundations">
                        <label for="Fundations">Fundations</label>   
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Fountas & Pinnell Literacy">
                        <label for="vehicle1">Fountas & Pinnell Literacy</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Lucy Calkins Units Of Study For Teaching Phonics">
                        <label for="vehicle1">Lucy Calkins Units Of Study For Teaching Phonics</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Bridge The Gap Intervention">
                        <label for="vehicle1">Bridge The Gap Intervention</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Words Their Way">
                        <label for="vehicle1">Words Their Way</label>
                    </div>
                </fieldset>
                    <fieldset class="checkboxs2">
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Lalilo">
                        <label for="vehicle1">Lalilo</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="The Heggerty Curriculum">
                        <label for="vehicle1">The Heggerty Curriculum</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Orton Gillingham Approach">
                        <label for="vehicle1">Orton Gillingham Approach</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Phonics First">
                        <label for="vehicle1">Phonics First</label>
                    </div>
                    <div class ="checkbox">
                        <input name="px" type="checkbox" id="cer" value="Other">
                        <label for="vehicle1">Other</label>
                    </div>
                    </fieldset>
                </div>
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
                <table id="customers">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                    {% for user in User %}

                    <tr>
                        <a href="{% url 'file' user.id %}">
                            <td>{{user.tutor.firstname}} {{user.tutor.lastname}}</td>
                            <td><a href="mailto:{{user}}">{{user}}</a></td>
                            <td>{{user.tutor.phonenumber}}</td>
                            <td><a class="btn btn-light" href="{% url 'file' user.id %}">View</a></td>
                        </a>
                    </tr>
                    {% endfor %}
                </table>

{% endblock %}
