<!-- Admin main page with list of tutor accounts -->

{% extends 'owner/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
Admin Index
{% endblock %}
{% block body %}

<!-- Formatting for tutor accounts table -->
<style>
    #customers{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 30px;
    }
    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f0ffe7;}
    #customers tr:nth-child(odd){background-color: #d4ffbb;}

    #customers tr:hover {background-color: #b0ee8d;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #64ad3a;
        color: white;
    }
    .checkboxs1{
        float: left;
        width: 50%;
    }
    .checkboxs2{
        float: left;
        width: 50%;
    }
</style>

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}

                    <!-- Search options -->
                    <input type="search" placeholder="Search" name="searched">
                    <label>Search By</label>
                    <select name="by" placeholder="Email" aria-label="Search By">
                        <option value="email">Email</option>
                        <option value="tutor__lastname">Last Name</option>
                        <option value="tutor__languages">Languages</option>
                        <option value="tutor__major">Degree</option>
                        <!-- Must search by abbreviation of state -->
                        <option value="tutor__statecert">State Certification</option>
                        <option value="tutor__curremployment">Current Job Title</option>
                        <option value="tutor__phonicsex">Phonics Program</option>
                        <option value="tutor__availability">Availability</option>
                    </select>

                    <!-- Order options -->
                    <label>Order By</label>
                    <select name="order" placeholder="Email" aria-label="Order By">
                        <option value="email">Email</option>
                        <option value="tutor__lastname">Last Name</option>
                        <option value="tutor__statecert">State Certification</option>
                    </select>
                    <br><label>When searching by state certification, enter the two-character state abbreviation.</label>
                    
                    <!-- Filter options -->
                    <!-- Input names correspond to filter options in owner/views.py -->
                    <br><label>Filter By:</label><br>
                    <div class= checkboxs>
                    <fieldset class="checkboxs1">   
                    <div class ="checkbox">
                        <input name="cert" type="checkbox" id="cer" value="Yes">
                        <label for="Yes"> Teaching Certification</label>
                    </div>
                    <div class ="checkbox">
                        <input name="avail" type="checkbox" value="AM">
                        <label for="AM"> Part Time AM</label>
                    </div>
                    <div class ="checkbox">
                        <input name="avail" type="checkbox" value="PM">
                        <label for="PM"> Part Time PM</label>
                    </div>
                    <div class ="checkbox">
                        <input name="avail" type="checkbox" value="F">
                        <label for="F"> Full Time</label>
                    </div>
                    <div class ="checkbox">
                        <input name="edu" type="checkbox" value="Student">
                        <label for="Student"> College Student</label>
                    </div>
                    <div class ="checkbox">
                        <input name="edu" type="checkbox" value="B">
                        <label for="B"> Bachelor's Degree</label>
                    </div>
                    <div class ="checkbox">
                        <input name="edu" type="checkbox" value="M.">
                        <label for="M."> Master's Degree</label>
                    </div>
                    <div class ="checkbox">
                        <input name="edu" type="checkbox" value="Ed.">
                        <label for="Ed."> Education Specialist/6th Year/Etc</label>
                    </div>
                    <div class ="checkbox">
                        <input name="edu" type="checkbox" value="Ph.">
                        <label for="Ph."> Doctorate</label>
                    </div>
                    </fieldset>

                    <!-- Second column of filter checkboxes -->
                    <fieldset class="checkboxs2">
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Fundations">
                            <label for="Fundations">Fundations</label>   
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Fountas & Pinnell Literacy">
                            <label for="v">Fountas & Pinnell Literacy</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Lucy Calkins Units Of Study For Teaching Phonics">
                            <label for="v">Lucy Calkins</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Bridge The Gap Intervention">
                            <label for="v">Bridge The Gap Intervention</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Words Their Way">
                            <label for="v">Words Their Way</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Lalilo">
                            <label for="v">Lalilo</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="The Heggerty Curriculum">
                            <label for="v">The Heggerty Curriculum</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Orton Gillingham Approach">
                            <label for="v">Orton Gillingham Approach</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Phonics First">
                            <label for="v">Phonics First</label>
                        </div>
                        <div class ="checkbox">
                            <input name="px" type="checkbox" id="cer" value="Other">
                            <label for="v">Other Phonics Programs</label>
                        </div>
                    </fieldset>
                
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Tutor table -->
<table id="customers">
    <tr>
        <!-- Labels across top row -->
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Education</th>
        <th>Certification</th>
        <th>Actions</th>
    </tr>

    {% for user in User %}
    <tr>
        <a href="{% url 'file' user.id %}">
            <!-- Fields for each user -->
            <td>{{user.tutor.firstname}} {{user.tutor.lastname}}</td>
            <td><a href="mailto:{{user}}">{{user}}</a></td> 
            <td>{{user.tutor.phonenumber}}</td>
            <td>{{user.tutor.education}}</td>
            <td>{{user.tutor.statecert}}</td>
            <td><a class="btn btn-light" href="{% url 'file' user.id %}">View</a></td> 
        </a>
    </tr>
    {% endfor %}
</table>

{% endblock %}
