{% extends 'owner/base.html' %}
{% load crispy_forms_filters %}
{% block title %}
Tutor Profile
{% endblock %}
{% block body %}
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/static/images/logo1.png"
                                class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{User.tutor.firstname}} {{User.tutor.lastname}}</h4>
                                <p class="text-muted font-size-sm">{{User.tutor.email}}</p>
                                <p class="text-muted font-size-sm">{{User.tutor.phonenumber}}</p>
                                <a href="{% url 'delete' User.id %}"
                                    class="btn btn-outline-primary del_btn">Delete Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <h3>Profile Information for {{User.tutor.firstname}} {{User.tutor.lastname}}</h3>
                        <table style="width:100%">
                            <tr>
                                <th style="width:30%">Name</th>
                                <td>{{User.tutor.firstname}} {{User.tutor.lastname}}</td>
                            </tr>
                            <tr>
                                <th>Birthday</th>
                                <td>{{User.tutor.birthday}}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{User.tutor.phonenumber}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{User.tutor.gender}}</td>
                            </tr>
                            <tr>
                                <th>Introduction</th>
                                <td>{{User.tutor.introduction}}</td>
                            </tr>
                            <tr>
                                <th>Languages</th>
                                <td>{{User.tutor.languages}}</td>
                            </tr>
                            <tr>
                                <th>Highest Level of Education</th>
                                <td>{{User.tutor.education}}</td>
                            </tr>
                            <tr>
                                <th>Major (If Applicable)</th>
                                <td>{{User.tutor.major}}</td>
                            </tr>
                            <tr>
                                <th>Minor (If Applicable)</th>
                                <td>{{User.tutor.minor}}</td>
                            </tr>
                            <tr>
                                <th>Certified Teacher</th>
                                <td>{{User.tutor.experience}}</td>
                            </tr>
                            <tr>
                                <th>State(s) Certified In</th>
                                <td>{{User.tutor.statecert}}</td>
                            </tr>
                            <tr>
                                <th>Phonics Programs</th>
                                <td>{{User.tutor.phonicsex}} {{User.tutor.otherphonics}}</td>
                            </tr>
                            <tr>
                                <th>Employment Status</th>
                                <td>{{User.tutor.employment}}</td>
                            </tr>
                            <tr>
                                <th>Most Recent Job Title</th>
                                <td>{{User.tutor.curremployment}}</td>
                            </tr>
                            <tr>
                                <th>Current Employer</th>
                                <td>{{User.tutor.employer}}</td>
                            </tr>
                            <tr>
                                <th>Employer Address</th>
                                <td>{{User.tutor.employeraddress}}</td>
                            </tr>
                            <tr>
                                <th>Address Line 2</th>
                                <td>{{User.tutor.employercity}} {{User.tutor.employerstate}} {{tutor.employerzip}}</td>
                            </tr>
                            <tr>
                                <th>Reference</th>
                                <td>{{User.tutor.currreference}}</td>
                            </tr>
                            <tr>
                                <th>Characteristics of a Good Teacher</th>
                                <td>{{User.tutor.teachercharacteristics}}</td>
                            </tr>
                            <tr>
                                <th>How to Address a Range of Abilities</th>
                                <td>{{User.tutor.abilitiesquestion}}</td>
                            </tr>
                            <tr>
                                <th>Availability</th>
                                <td>{{User.tutor.availability}}</td>
                            </tr>
                            <tr>
                                <th>Teaching Certification</th>
                                <td><img src="/media/{{User.tutor.image}}"
                                    width="300"></td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}